# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

codigo/frontend/node_modules

codigo/backend/api/venv
codigo/backend/api/.env
codigo/backend/.env
codigo/backend/routes/__pycache__
codigo/backend/routes/__init__.py
codigo/backend/chatbot/__pycache__
codigo/backend/chatbot/__init__.py
codigo/backend/config/__pycache__/
codigo/backend/config/__init__.py

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
