#ignorar o arquivo .env para dados sensíveis
.env
#ignorar a pasta .venv que é o ambiente virtual
.venv

historico

firebase-adminsdk.json

__pycache__
chatbot/__pycache__/
mock/__pycache__/
gemini_api/__pycache__/
.env
